DATABASE_URL=postgres://postgres:postgres@localhost:51214/template1?sslmode=disable&connection_limit=10&connect_timeout=0&max_idle_connection_lifetime=0&pool_timeout=0&socket_timeout=0

NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_VTI_LOGIN_URL=replace-with-a-local-secret
NEXTAUTH_SECRET=replace-with-a-local-random-secret

VTI_JWT_ISSUER=https://vti.example.test
VTI_JWT_AUDIENCE=u-roadmaps
VTI_JWT_SECRET=some-random-secret-for-development

U_ROADMAPS_DEV_DATA=true
U_ROADMAPS_E2E_DATA=true

NODE_ENV=development
