DATABASE_URL=postgres://roadmap_dev_user:roadmap_dev_password@localhost:5432/roadmap_dev_db
E2E_DATABASE_URL=postgres://roadmap_e2e_user:roadmap_e2e_password@localhost:5432/roadmap_e2e_db

NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_VTI_LOGIN_URL=replace-with-a-local-secret
NEXTAUTH_SECRET=replace-with-a-local-random-secret

VTI_JWT_SECRET=some-random-secret-for-development

MUFASA_TOKEN=
MUFASA_BASE_URL=https://apps.dcc.uchile.cl/servicios/puente/ucampus/api/fcfm_mufasa

U_ROADMAPS_DEV_DATA=true
U_ROADMAPS_E2E_DATA=true
